.shadow {
	margin-bottom: 30px;
	padding-bottom: 50px;
	background-color: white;
	border-radius: 5px;
}

.vertical-input {
	margin-top: 30px;
}

.headline {
	font-size: 20pt;
	font-weight: 475;
	margin-left: 20px;
	margin-right: 10px;
}

.horizontal-input {
	margin-left: 20px;
}

.horizontal-verticalizable > * {
	margin-bottom: 10px;
}

.horizontal-input > * {
	margin-right: 20px;
	margin-top: 0px;
}

.horizontal-list {
	margin-top: 20px;
	margin-left: 20px;
}

.horizontal-list > * {
	margin-right: 20px;
}

.horizontal-button-bar {
	margin-top: 20px
}

.horizontal-button-bar > * {
	margin-right: 20px;
}

paper-button {
	background: #E2001A;
	color: #FFFFFF;
}

paper-checkbox::shadow #ink[checked] {
	color: #D32B18;
}
			
paper-checkbox::shadow #checkbox.checked {
	background-color: #D32B18;
	border-color: #D32B18;
}

/* Modulplan pflegen */
.divModul {
	border-top-style: solid;
	border-left-style: solid;
	border-bottom-style: solid;
	width: 13%;
	height: 40px;
	float: left;
	background-color: #D32B18;
}

.h4Modul {
	color: white;
	margin: 5px 0px 0px 5px;
}

.divModul2 {
	border-left-style: solid;
	border-bottom-style: solid;
	width: 13%; float: left;
}

.pModul {
	margin: 1px 5px;
}

.pModul2 {
	margin: 1px;
	text-align: center;
}

.coreiconModul {
	height: 17px;
	width: 17px;
	margin-right: 5px;
	cursor: pointer;
}