.shadow {
	margin-bottom: 30px;
	padding-bottom: 50px;
	background-color: #FFF;
	border-radius: 5px;
}

.inner-shadow {
	background-color: #EEEEEE;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

.inner-inner-shadow {
	background-color: #FFF;
	border-radius: 3px;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px
}

.inner-inner-shadow-timeline {
	background-color: #FFF;
	border-radius: 3px
}

.inner-inner-shadow /deep/ #ripple {
  color: #D32B18;
}

.line-spacing {
	width: 70px;
}

.timeline-border {
	border-left: solid 1px;
}

.highlight {
	background-color: rgba(226,0,26,0.5);
}

.highlight-termin {
	background-color: rgba(92,105,113,0.5);
}

.flex-container {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-flow: row wrap;
  -moz-flex-flow: row wrap;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  margin-right: 20px;
}

.flex-item {
    width: 320px;
    min-height: 175px;
    padding: 5px 15px 5px 15px;
    margin-top: 20px;
    margin-left: 20px;
    cursor: pointer;
}

.headline {
	font-size: 20pt;
	font-weight: 475;
	margin-left: 20px;
	margin-right: 10px;
}

.small-headline {
	font-size: 16pt;
	font-weight: 350;
	margin-top: 10px;
	margin-bottom: 10px;
}

.headline-container {
	min-height: 75px;
	text-align: center;
}

.headline-container-small {
	min-height: 25px;
	text-align: center;
}

.centered-text {
	text-align: center;
}

.vertical-input {
	margin-top: 30px;
}

.horizontal-input {
	margin-left: 20px;
}

.horizontal-verticalizable > * {
	margin-bottom: 10px;
}

.dashboard-margin > * {
	margin-bottom: 5px;
}

.horizontal-input > * {
	margin-right: 20px;
	margin-top: 0px;
}

.horizontal-list {
	margin-top: 20px;
	margin-left: 20px;
}

.horizontal-list > * {
	margin-right: 20px;
}

.horizontal-button-bar {
	margin-top: 20px
}

.horizontal-button-bar > * {
	margin-right: 20px;
}

.input-padding paper-input-decorator {
	padding-left: 5px;
	padding-right: 5px;
}

.input-padding paper-checkbox {
	padding-left: 5px;
	padding-right: 5px;
	margin-bottom: 0px;
}

.text-line-input paper-input-decorator {
	padding-left: 10px;
	padding-right: 10px;
}

.text-line-input span {
	margin-bottom: 10px;
	margin-top: 10px;
}

.hide {
	display: hidden;
	visibility: hidden;
}

.progress {
	height: 30px;
}

.progress-dashboard {
	height: 15px;
	margin-left: 10px;
	margin-right: 10px;
}

.text-width {
	min-width: 140px;
}

.text-width-sl {
	min-width: 200px;
}

.icon-good {
	fill: #5C6971;
}

.icon-bad {
	fill: #E2001A;
}

.icon-neutral {
	fill: #5C6971;
	height: 100px;
}

paper-button {
	background: #E2001A;
	color: #FFFFFF;
}

core-icon {
	margin-left: 5px;
	margin-right: 5px;
}

paper-icon-button::shadow #ripple {
  color: #E2001A;
  opacity: 0.25;
}

paper-checkbox::shadow #ink[checked] {
	color: #E2001A;
}
			
paper-checkbox::shadow #checkbox.checked {
	background-color: #E2001A;
	border-color: #E2001A;
}

paper-progress::shadow #activeProgress {
	background-color: #E2001A;
}
