.vertical-input {
	margin-top: 30px;
}

.headline {
	font-size: 20pt;
	font-weight: 475;
	margin-left: 20px;
	margin-right: 10px;
}

.horizontal-input {
	margin-left: 20px;
}

.horizontal-verticalizable > * {
	margin-bottom: 10px;
}

.horizontal-input > * {
	margin-right: 20px;
	margin-top: 0px;
}

.horizontal-list {
	margin-top: 20px;
	margin-left: 20px;
}

.horizontal-list > * {
	margin-right: 20px;
}

.horizontal-button-bar {
	margin-top: 20px
}

.horizontal-button-bar > * {
	margin-right: 20px;
}

paper-button {
	background: #E2001A;
	color: #FFFFFF;
}

paper-checkbox #ink[checked] {
	color: #D32B18;
}
			
paper-checkbox #checkbox.checked {
	background-color: #D32B18;
	border-color: #D32B18;
}

paper-toast div {
	color: #eeff41
}