body {
  font-family: "RobotoDraft", "Arial";
  font-weight: 300;
}

body /deep/ core-toolbar {
  background-color: #E2001A;
  color: #fff;
}

#home-scaffold::shadow core-drawer-panel div[drawer] {
	background: #5C6971;
}

#drawer-menu {
  color: #fff;
  margin: 10px 0 0 0;
}

#drawer-menu > paper-item.core-selected {
  background: #E2001A;
}

#page-wrapper {
	margin: 20px 20px auto 20px;
}

#home-pages {
	width: 100%;
}

paper-toast .refresh {
	color: #eeff41
}

body /deep/ paper-button[autofocus] {
	font-weight: 500;
	color: #E2001A;
}