body /deep/ paper-checkbox {
	margin: 2px 5px;
}

body /deep/ paper-checkbox::shadow #ink[checked] {
	color: #D32B18;
}
			
body /deep/ paper-checkbox::shadow #checkbox.checked {
	background-color: #D32B18;
	border-color: #D32B18;
}

body /deep/ .overlay-inner-shadow {
	background-color: #EEEEEE;
	border-radius: 5px;
	padding-left: 5px;
	padding-right: 5px;
}

body /deep/ .overlay-inner-inner-shadow {
	background-color: #FFF;
	border-radius: 3px;
	margin-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px
}

body /deep/ .overlay-headline {
	font-size: 16pt;
	font-weight: 350;
	margin-top: 10px;
	margin-bottom: 10px;
}
body /deep/ .overlay-small-headline {
	font-size: 16pt;
	font-weight: 350;
	margin-top: 10px;
	margin-bottom: 10px;
}

body /deep/ .overlay-horizontal-input {
	margin-left: 20px;
}

body /deep/ .overlay-hide {
	display: hidden;
}